body {
  margin: 0;
}

pre {
  font-family: Arial, Helvetica, sans-serif;
}
.top_section {
  display: flex;
}
.aside_juego {
  width: 20%;
  border: 3px solid #000;
  background: #d9d9d9;
  div {
    display: flex;
    flex-direction: row;
    border: 3px solid #000;
    background: white;
    box-shadow: 6px 6px 0px #000;
    width: 80%;
    margin: auto;
    margin-block: 15px;
    padding-left: 15px;
  }
}
.flip-card__input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #000;
  border-radius: 6px;
  box-shadow: 5px 5px 0px #000;
  font-size: 16px;
  outline: none;
}
.flip-card {
  width: 300px;
  margin: auto;
  padding: 25px;
  background: #d9d9d9;
  border-radius: 10px;
  border: 3px solid #000;
  box-shadow: 6px 6px 0px #000;
  text-align: center;
  font-family: Arial, sans-serif;
}
.section_juego {
  width: 80%;
  height: 100dvh;
  position: relative;
}

.input_palabra {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%);
}

.gameOver {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  background: #d9d9d9;
  border: 2px solid #000;
  border-radius: 6px;
  box-shadow: 5px 5px 0px #000;
  transform: translate(-50%, -50%);
}
/* Botón */
.flip-card__btn {
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 0px #000;
  transition: transform 0.1s ease;
}

/* Efecto al pulsar */
.flip-card__btn:hover {
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 0px #000;
}
