body {
  margin: 0;
}
.top_section {
  display: flex;
}
.aside_juego {
  width: 20%;
}
.section_juego {
  width: 80%;
  height: 100dvh;
}

.input_palabra {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%);
}
