nav {
  background-color: #333;
  overflow: hidden;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav p {
  color: white;
  font-size: 1.5em;
  margin-left: 1em;
  flex-grow: 1;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin: 0 1em;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li p {
  margin: 0;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

nav ul li p:hover {
  text-decoration: underline;
}

nav ul li a:hover {
  text-decoration: underline;
}
